<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cqupt.software4_backendv2.dao.FeatureManageMapper">


    <select id="selectFeatures" resultType="com.cqupt.software4_backendv2.entity.FeatureEntity">
        select * from field_management where ${belongType}=true;
    </select>

    <select id="selectFeaturesContinue" resultType="com.cqupt.software4_backendv2.entity.FeatureEntity">
        select * from field_management where ${belongType}=true and discrete ='f';
    </select>

    <select id="getUserFeatureList" resultType="java.lang.String">
        SELECT column_name
        FROM information_schema.columns
        WHERE  table_name = #{tablename};
    </select>
</mapper>